*.pyc
.vscode
output
build
*.egg-info
tensorboard_3d
screenshots
*.txt
/eval
outputs
data
experiment
/result
/dataset_parser
/__pycache__
results
/debugging
/debugging_no_miou
application_beta/test_folderassets/display_file.mp4
application_beta/test_folder
application_beta/semantic_query/__pycache__
.hydra